@import 
url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

body {
    background-color: #DADADA;
    font-family: Oranienbaum, serif;
    font-size: 20px;
    color: white;
    line-height: 1.3;
    -webkit-font-smoothing: antialiased;
    // overflow: hidden;
}

#header-nav{
  border-radius: 0;
}

.navbar-brand h3{
  font-family: Oranienbaum, serif;
  color: black;
  text-transform: uppercase;
  margin-top: 20px;
  margin-left: 0;
  margin-bottom: 0;
  line-height: 0.7;  
}

.home-page{
  text-align: center;
}

#home-page-image{
  margin-top: 10em;
}

#home-page-title h1{
  text-transform: uppercase;
  margin-top: 10px;
  font-size: 10em;
  font-family: Slabo 27px;
  
}

#home-page-text{
  margin-top: 10px;
  font-size: 30px;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p{
  color: black; 
  font-family: Oranienbaum, serif; 
  margin: 0px 0px 0px 10px;
}


.row {
  margin-bottom: 15px;
}
.row > div {
  border: 2px solid red;
  background-color: gray;
}

