@import 
url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

body {
    background-color: #cecece;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    color: white;
    line-height: 1.3;
    -webkit-font-smoothing: antialiased;
    // overflow: hidden;
}

#header-nav{
  background-color: yellow;
  border-radius: 0
  border: 100;
}
.row {
  margin-bottom: 15px;
}
.row > div {
  border: 2px solid red;
  background-color: gray;
}


